.div {
  width: 1236px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.back {
  display: block;
  text-decoration: none;
  width: 196px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  cursor: pointer;
  border: none;
  outline: none;
}
.container {
  padding: 0;

  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  list-style: none;
}
.tweet {
  width: 286px;
  background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 20px;
}
.name,
.text,
.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ebd8ff;
  margin: 0;
}

.text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
